<div class="container">
    <div class="row" style="margin-bottom:10px;">
        <button class="btn btn-sm  btn-default" ng-click="refresh()"><span class="octicon octicon-sync"></span> Refresh</button>
        <button class="btn btn-sm btn-default" ng-click="showAddRepositoryModal()">Add Repository</button>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="row">
                <ul class="list-group">
                    <li ng-repeat="appRepo in appRepositories" ng-click="setSelectedApp(appRepo.id)" ng-class="{'active':appRepo.id === selectedApp.id}" class="list-group-item cursor-pointer">{{appRepo.name}}<br/><small ng-class="{'text-white':appRepo.id !== selectedApp.id}">{{appRepo.path}}</small></li>
                </ul>
                <p ng-if="!appRepositories || appRepositories.length === 0">No App Repositories</p>
            </div>
        </div>
        <div class="col-md-9">
            <div ng-repeat="appRepository in appRepositories">
                <div ng-show="appRepository.id === selectedApp.id">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">{{appRepository.name}} / <strong>{{repoData[appRepository.id].activeBranch.name}}</strong> <i style="margin-left:10px;" class="fa fa-refresh fa-spin" ng-if="repoData[appRepository.id].loading"></i> <span ng-if="repoData[appRepository.id].status.uncommittedChanges.length" class="badge pull-right">{{repoData[appRepository.id].status.uncommittedChanges.length}}</span></h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Select Branch</label>
                                <select class="form-control" ng-model="repoData[appRepository.id].selectedBranch" ng-options="gitBranch.name for gitBranch in repoData[appRepository.id].branches track by gitBranch.fullName">
                                </select>
                            </div>
                            <button class="btn btn-default btn-bg" ng-click="checkout(appRepository.id)"><i class="fa fa-random"></i> Checkout Selected Branch</button>
                            <button class="btn btn-default btn-bg" ng-click="deleteBranch(appRepository.id)"><span class="octicon octicon-x"></span> Delete Selected Branch</button>
                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default btn-bg" ng-click="pull(appRepository.id)"><span class="octicon octicon-git-pull-request"></span> Pull</button>
                            <button class="btn btn-default btn-bg" data-toggle="modal" ng-click="showCreateModal(appRepository.id)"><span class="octicon octicon-git-branch"></span> Create Branch</button>
                            <button class="btn btn-default btn-bg" ng-click="rebase(appRepository.id)"><i class="fa fa-undo"></i> Rebase</button>
                            <button class="btn btn-default btn-bg" ng-click="revert(appRepository.id)"><i class="fa fa-history"></i> Revert</button>
                            <button class="btn btn-default btn-bg" ng-click="showCommitModal(appRepository.id)"><span class="octicon octicon-git-commit"></span> Commit</button>
                            <button class="btn btn-default btn-bg" ng-click="push(appRepository.id)"><span class="octicon octicon-cloud-upload"></span> Push</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Log</h3>
                        </div>
                        <div class="panel-body" ng-bind-html="log.messages" style="overflow-y:auto;height:150px;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="create-branch-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create Branch</h4>
            </div>
            <div class="modal-body">
                <form name="branchForm" class="form">
                    <div class="form-group">
                        <label for="branchName">Branch Name</label>
                        <input ng-model="newBranch.name" type="text" class="form-control" id="branchName" placeholder="Branch Name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="saveNewBranch()" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="commit-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Commit Changes</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">Unstaged Files</div>
                    <ul class="list-group" style="overflow:hidden;height:150px;">
                        <li ng-repeat="file in selectedApp.status.modified" class="list-group-item">{{file}} <input class="pull-right" type="checkbox" ng-click="add(selectedApp.id, file)"/></li>
                        <li ng-if="!selectedApp.status.modified || selectedApp.status.modified.length === 0" class="list-group-item">No files currently uncommitted</li>
                    </ul>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">Staged Files</div>
                    <ul class="list-group" style="overflow:hidden;height:150px;">
                        <li ng-repeat="file in selectedApp.status.changed" class="list-group-item">{{file}} <input class="pull-right" type="checkbox" checked="checked" ng-click="remove(selectedApp.id, file)"/></li>
                        <li ng-if="!selectedApp.status.changed  || selectedApp.status.changed.length === 0" class="list-group-item">No files currently staged</li>
                    </ul>
                </div>
                <div class="form-group">
                    <label for="commit-message">Commit Message</label>
                    <input ng-model="selectedApp.commitMessage" type="text" class="form-control" id="commit-message" placeholder="Commit Message">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-disabled="!selectedApp.status.changed  || selectedApp.status.changed.length === 0" ng-click="commit(selectedApp.id, selectedApp.commitMessage)" class="btn btn-primary">Commit</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" tabindex="-1" role="dialog" id="add-repo-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Repository</h4>
            </div>
            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <label for="path">Repository Path:</label>
                        <input ng-model="newApp.path" type="text" class="form-control" id="path" placeholder="Full path to .git folder">
                    </div>
                    <div class="form-group">
                        <label for="username">Username:</label>
                        <input ng-model="newApp.username" type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input ng-model="newApp.password" type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group" ng-init="newApp.connectionType='HTTPS'">
                        <label class="radio-inline">
                            <input type="radio" name="connectionType" ng-model="newApp.connectionType" id="connectionTypeHTTPS" value="HTTPS"> HTTPS
                        </label>
                        <label class="radio-inline">
                            <input type="radio" name="connectionType" ng-model="newApp.connectionType" id="connectionTypeSSH" value="SSH"> SSH
                        </label>
                    </div>
                    <div ng-show="newApp.connectionType==='SSH'">
                        <div class="form-group">
                            <label for="privateKeyFile">Private Key File:</label>
                            <input ng-model="newApp.privateKeyFile" type="text" class="form-control" id="privateKeyFile" placeholder="Private Key File">
                        </div>
                        <div class="form-group">
                            <label for="privateKeyPassphrase">Key Passphrase:</label>
                            <input ng-model="newApp.privateKeyPassphrase" type="text" class="form-control" id="privateKeyPassphrase" placeholder="Key Passphrase">
                        </div>
                        <div class="form-group">
                            <label for="knownHostsFile">Known Hosts File:</label>
                            <input ng-model="newApp.knownHostsFile" type="text" class="form-control" id="knownHostsFile" placeholder="Known Hosts File">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" ng-click="addApp()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>